h1 {
  color: red;
}

body {
  display: flex;
  background-color: blanchedalmond;
  align-items: center;
  flex-direction: column;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#clanName {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h2 {
  margin-right: .5em;
  color: blueviolet;
  font-size: 2em;
}

.selections {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

p {
  font-weight: bold;
  font-size: 43px;
}

label {
  font-size: 20px;
}

input {
  font-size: 33px;
}

button {
  margin: 1em;
  background-color: bisque;
  font-size: large;
}

.main {
  margin-top: 10em;
}